         header {
             position: fixed;
             background-color: white;
             top: 0px;
             left: 0px;
             width: 100%;
             height: 20px;
         }
         nav {
             margin-top: 20px;
             margin-bottom: -10px;
             background-color: white;
         }
         nav li {
            display: inline;
         }
         section {
             float: left;
             width: 20%;
             height: 500px;
             background-color: #00CCFF;
             color: black;
         }
         aside {
            background-image: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/537527_10151381825604543_1529461758_n.jpg?oh=e125a22fa6b533cf41f2f42c3ae2fc2e&oe=54E72C4E&__gda__=1423357893_83a8a130d44b3ddd6b4c30173d85c5c3");
             background-color: white;
             float: left;
             width: 80%;
             height: 500px;
             overflow: scroll;
             color: white;
         }
         footer {
             clear: both;
             background-color: white;
         }
         body {
             background-color: black;
             margin: 1px;
             bottom: 0px;
             top: 0px;
         }
