h1 {color:blue;
text-align: center}
li{font-size: 20pt;}
.carbs {color:red;}
.drinks {color:blue;}
.washing {color:green;}
.healthy {color:grey;}
li#finished {text-decoration: line-through; 
}
li#gotit {text-decoration: line-through;
}
li#baught {text-decoration: line-through;
}
li#purch,#purch1,#purch2,#purch3 { text-decoration: line-through}
li {text-align: center;}
