h1 {
    text-align: center;
}

body {
    background: #eeeeee;
}

main {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    background: #FFFF99;
}

main ul {
    list-style: none;
    font-size: 16pt;
}

aside {
    width: 66%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #5886B7;
}

.Produce {
    color: yellow;
}

.Meat {
    color: red;
}

.Canned {
    color: black;
}

.Snacks {
    color: orange;
}

.done {
  text-decoration: line-through;
}
