h1{font-size: 30pt; 
color: blue;
  text-align: center;
}
p{font-size: 20pt;
  text-align: center;
}
div{background-size: 1000px 1000px;
    background-repeat: no-repeat;
}
img {
  margin-left: 500px;
  }
